/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

/* common styles or utilities */
body {
    font-family: 'Work Sans', sans-serif;
}

/* ---------
          Navigation part -------
------------*/

.header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;

}

.nav-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    margin: 30px;
}


/* ----------------
                banner part------
------------------ */

.banner {

    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
}

.banner-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}

.btn-primary {
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    width: 180px;
    height: 64px;
    border: 0;
    padding: 20px 24px;
    margin-bottom: 50px;
}

.btn-primary-1 {
    background: #FF900E;
    border-radius: 8px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding: 45px 42px;
    width: 342px;
    height: 200px;
    border-color: #FFFFFF;
}

/* second part */

.second-part {
    margin: 100px;
    background-color: white;
}

.second-part-container,
.photo-part-1,
.photo-part-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}

/* third-part-container */

.third-part-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 54px;
    margin: 60px;
    align-items: center;
}

.third-part-title {
    color: #131313;
    font-weight: 600;
    font-size: 20px;
}

.third {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    gap: 20px;
}

.third-part-info p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

/* 4th part */

.fact-part {
    background: #FFFFFF;
}

.some-facts {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.some-facts-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.skill-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center
}

.skill-title {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
}

.skill-description {
    color: #727272;
    font-weight: 600;
    font-size: 20px;
}

/* our-sponsors */

.our-sponspors {
    background: white;
}

.sponspors-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponspors-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.sponspors-title,
.sponspors-description {
    text-align: center;
}

.sponspors-description {
    margin-bottom: 50px;
    margin-top: 24px;
}

.sponspors {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

footer {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
    color: #424242;
    background: #FFF4E7;
    border-radius: 8px;
    padding: 39px 410px;
    display: flex;

}

/* Make responsive  */

@media screen and (max-width:688px) {

    .header,
    .second-part,
    .third-part,
    .fact-part .our-sponspors {
        width: 100%;
    }

    .sponspors {
        flex-direction: column;
    }

    .skill-container {
        flex-direction: column;
        align-items: center;
    }

    .third-part-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .second-part-container,
    .photo-part-1,
    .photo-part-2 {
        grid-template-columns: repeat(1, 1fr);
    }

}